keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
h5py == 3.10.0
imageio == 2.9.0
imagesize == 1.2.0
imgaug >= 0.4.0
keras == 2.15.0
matplotlib == 3.8.2
numpy <= 1.20.0
opencv-python == 4.8.1.78
pandas >= 1.1.5
scikit-image == 0.20.0
scikit-learn >= 0.24.1
tensorflow == 2.15.0
tqdm >= 4.56.2
virtualenv >= 20.4.2
keras-utils == 1.0.13
